<a href="https://colab.research.google.com/github/patient-31/Python_CST182/blob/main/Tutorial_7_Dictionaries_%26_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# **TUTORIAL #7 - Dictionaries & Sets**
<br/>

In this tutorial, we will be revise the main topics covered in dictionaries & sets.

> **Note:** *For a comprehensive understanding please refer to the materials on the LMS*

<br/>

## **#1. Dictionaries**
---

Dictionaries are another data structure avaiable in Python. They are similar to lists in the fact they can store data, however, differ in that they are in the format of `key:value` pairs (rather than values with associated indicies)

### **Basics**


We can set up a dictionary by simply assigning key:value pairs:

In [ ]:
my_dict = {
    "name": "Luke",
    "age": 33,
    "Occupation": "Educator"
}

and print the list via

In [ ]:
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator'}

or print a specific value in the list via index

In [ ]:
print(my_dict["name"])

Luke

### **Dictionary Manipulative Functions**

---
<br/>

We can use a variety of functions to manipulate the data in our dictionaries

#### **Add values**

We can add values by simply assigning a new key:value pair.

In [ ]:
print(my_dict)

my_dict["height"] = 1.87
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator'}
{'name': 'Luke', 'age': 33, 'Occupation': 'Educator', 'height': 1.87}

#### **Update Values**

We can update values by simply setting the key of the dictionary to a new value

In [ ]:
print(my_dict)

my_dict["age"] = 99
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator', 'height': 1.87}
{'name': 'Luke', 'age': 99, 'Occupation': 'Educator', 'height': 1.87}

#### **Delete Values** | *via key*

We can delete values via the keyword `del`

In [ ]:
print(my_dict)

del my_dict["height"]
print(my_dict)

{'name': 'Luke', 'age': 99, 'Occupation': 'Educator', 'height': 1.87}
{'name': 'Luke', 'age': 99, 'Occupation': 'Educator'}

## **#2. Sets**
---

Sets are another data structure avaiable in Python. The difference is that sets do not allow duplicate values, and they also have some additional functions for comparing two sets

### **Basics**


We can set up a set by simply passing values between curly braces (similar to a dictionary - but here we do not pass key:value pairs)

In [ ]:
my_set = {"Apple", "Banana", "Orange"}

and print the set via

In [ ]:
print(my_set)

{'Apple', 'Banana', 'Orange'}

### **Set Manipulative Functions**

---
<br/>

We can use a variety of functions to manipulate the data in our sets

#### **Add values**

We can add values via the `add()` method

In [ ]:
print(my_set)

my_set.add("Mango")
print(my_set)

{'Apple', 'Banana', 'Orange'}
{'Mango', 'Apple', 'Banana', 'Orange'}

#### **Delete Values** | *via value*

We can delete values by their index via the `remove()` method

In [ ]:
print(my_set)

my_set.remove("Apple")
print(my_set)

{'Mango', 'Apple', 'Banana', 'Orange'}
{'Mango', 'Banana', 'Orange'}

### **Set Additional Functions**

---
<br/>

There are additional functions in sets to check commonalities or differences between two sets

### **`Union()`**


The `union()` method allows us to join two sets together

In [ ]:
new_set = {"Pear", "Banana"}

print(my_set)
print(new_set)

print("\n------------- union() ---------------\n")

my_set.union(new_set)

{'Mango', 'Banana', 'Orange'}
{'Pear', 'Banana'}

------------- union() ---------------

{'Banana', 'Mango', 'Orange', 'Pear'}

### **`Intersection()`**


The `intersection()` method allows us to see which values (if any) are common amongst both sets

In [ ]:
print(my_set)
print(new_set)

print("\n------------- intersection() ---------------\n")

my_set.intersection(new_set)

{'Mango', 'Banana', 'Orange'}
{'Pear', 'Banana'}

------------- intersection() ---------------

{'Banana'}

### **`Difference()`**


The `difference()` method allows us to see which values appear in the first set but not the second

In [ ]:
print(my_set)
print(new_set)

print("\n------------- difference() ---------------\n")

print(my_set.difference(new_set), "\t(my_set.difference(new_set)")
print(new_set.difference(my_set), "\t\t(new_set.difference(my_set)")

{'Mango', 'Banana', 'Orange'}
{'Pear', 'Banana'}

------------- difference() ---------------

{'Mango', 'Orange'} 	(my_set.difference(new_set)
{'Pear'} 		(new_set.difference(my_set)

<br/>


##  **#3.YOUR TURN**
---

### **Program #1 |** A Simple Student Class &nbsp; **<i>[EXTENDED #2]</i>**
---


><table>

Take the *Simple Student Class* tutorial from last week and paste your code below.
></table>

>><table>
<small>
In this program we will create a simple student class and a few objects.
<br/><br/>
The student class should have the following:<br/>

Properties
* `name` the name of the student
* `marks` a list of final marks the student has been awarded


Methods
* `add_mark()` which takes a single value and adds it to the list of marks
* `calculate_GPA()` which gets the average from the list of marks
* `print_student()` which nicely prints a transcript for the student (name, marks, GPA)</small>
>></table>

><table>

#### Your Task


1.  Update the program to read in the data from `student_marks.txt` file (rather than the current data hard-coded in the program) into a List

2. From there, you need to calculate the GPA for each student, and then print to a new file (`GPA_List.txt`) each student's name alongside their associated GPA in descending order.

></table>

<br/>

### **Your Task**

In the new program, use a dictionary to hold the data:
* `name` holds the student's name
* `scores` is a list that contains each student's scores

In [15]:
# Student Name:   Daniel Haddington
# Student Number: 1034724

class Student:
  def __init__(self, name):
    self.name = name
    self.marks = []

  def add_mark(self, mark):
    self.marks.append(mark)

  def calculate_GPA(self):
    GPA = 0
    for mark in self.marks:
      GPA += mark
    GPA /= len(self.marks)
    return GPA

  def print_student(self):
    print(self.name)
    print(self.marks)
    print(self.calculate_GPA())


def main():
  sm_file = open("student_marks.txt", "r")
  Students = []
  for line in sm_file:
    temp_line = line.split()
    temp_object = Student(temp_line[0])
    for i in range(1, len(temp_line)):
      temp_object.add_mark(int(temp_line[i]))
    Students.append(temp_object)
  sm_file.close()

  # Add to GPA_List.txt # added unsorted... sorry
  gpa_file = open("GPA_List.txt", "w")
  for student in Students:
    gpa_file.write(f"NAME: {student.name}, GPA: {student.calculate_GPA()}\n")
  gpa_file.close()


  student_dict = {}
  # Add to Dictionary
  for student in Students:
    student_dict[student.name] = student.marks

  print(student_dict)

main()

{'Alice': [85, 90, 78, 92], 'Bob': [75, 80, 85, 79], 'Charlie': [88, 92, 94, 89], 'David': [70, 65, 80, 74], 'Emma': [95, 98, 97, 96], 'Frank': [60, 55, 70, 65], 'Grace': [82, 87, 85, 90], 'Hannah': [90, 88, 84, 91], 'Ian': [78, 80, 76, 79], 'Jack': [85, 82, 88, 86]}

<br/><BR/>

### **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for height and weight (you don't need to use your own if you do not want to) to get the output of BMI to show.
<br/><br/>
When you are ready to submit please go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.

Please save your file to GitHub via: `File` -> `Save a copy in GitHub`